<!doctype html>
<html lang="zh-CN" xml:lang="zh-CN">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="UTF-8" />
    
    <title>彩娱互动-球球是道-即时比分直播</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"> <!-- , viewport-fit=cover -->
    
   
    <link rel="stylesheet" type="text/css" href="https://cache.qiuqiusd.com/bifen/css/base.min.css?v=2025102702" />
    <link rel="stylesheet" type="text/css" href="https://cache.qiuqiusd.com/bifen/css/reset.css?v=2025102702" />
    <link rel="stylesheet" type="text/css" href="https://cache.qiuqiusd.com/bifen/css/common.css?v=2025102702" />
    <link rel="stylesheet" type="text/css" href="https://cache.qiuqiusd.com/bifen/css/commonfx.css?v=2025102702" />
    <link rel="stylesheet" type="text/css" href="https://cache.qiuqiusd.com/bifen/css/ouzhi.css?v=2025102702" />
</head>
<body>
<!-- php 渲染开始 -->
<div class="phpforeachbox">
<h1>墨西哥 VS 南非</h1>
<h2>欧洲指数</h2>
        <p>比赛时间：2026-06-12 03:00:00</p>

        <p>比分直播：2 : 0</p>
        <p>联赛：世界杯</p>

<!-- 对阵信息结束 -->
    <ul>
                    <li>
                <p>赔率公司：百家欧赔</p>
                                <p>即时赔率：1、初始赔率：胜：1.46，平：4.19，负：7.10 <br />2、即时赔率：胜：1.43，平：4.34，平：8.34</p>
                <p>概率：1、初始概率：胜：64.34%，平：22.42%，负：13.23% <br />2、即时赔率：胜：65.69%，平：21.64%，平：11.26%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：93.94 即时返还率：95.27</p>
                <p>墨西哥 VS 南非凯利：胜：0.97%，平：0.92%，负：0.81% <br />2、即时赔率：胜：0.95%，平：0.95%，平：0.95%</p>
				            </li>
                    <li>
                <p>赔率公司：竞彩官方</p>
                                <p>即时赔率：1、初始赔率：胜：1.34，平：3.92，负：7.85 <br />2、即时赔率：胜：1.26，平：4.45，平：9.00</p>
                <p>概率：1、初始概率：胜：66.11%，平：22.60%，负：11.28% <br />2、即时赔率：胜：70.26%，平：19.89%，平：9.83%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：88.59 即时返还率：88.53</p>
                <p>墨西哥 VS 南非凯利：胜：0.89%，平：0.86%，负：0.90% <br />2、即时赔率：胜：0.84%，平：0.98%，平：1.03%</p>
				            </li>
                    <li>
                <p>赔率公司：威廉希尔</p>
                                <p>即时赔率：1、初始赔率：胜：1.57，平：3.70，负：5.50 <br />2、即时赔率：胜：1.40，平：4.00，平：8.00</p>
                <p>概率：1、初始概率：胜：58.48%，平：24.81%，负：16.69% <br />2、即时赔率：胜：65.57%，平：22.95%，平：11.47%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：91.82 即时返还率：91.80</p>
                <p>墨西哥 VS 南非凯利：胜：1.05%，平：0.81%，负：0.63% <br />2、即时赔率：胜：0.93%，平：0.88%，平：0.91%</p>
				            </li>
                    <li>
                <p>赔率公司：澳门</p>
                                <p>即时赔率：1、初始赔率：胜：1.45，平：3.90，负：5.90 <br />2、即时赔率：胜：1.36，平：4.10，平：7.30</p>
                <p>概率：1、初始概率：胜：61.82%，平：22.98%，负：15.19% <br />2、即时赔率：胜：65.87%，平：21.85%，平：12.27%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：89.64 即时返还率：89.59</p>
                <p>墨西哥 VS 南非凯利：胜：0.97%，平：0.86%，负：0.67% <br />2、即时赔率：胜：0.91%，平：0.90%，平：0.83%</p>
				            </li>
                    <li>
                <p>赔率公司：Bet365</p>
                                <p>即时赔率：1、初始赔率：胜：1.50，平：4.00，负：5.50 <br />2、即时赔率：胜：1.40，平：4.50，平：8.50</p>
                <p>概率：1、初始概率：胜：60.68%，平：22.75%，负：16.55% <br />2、即时赔率：胜：67.75%，平：21.08%，平：11.16%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：91.03 即时返还率：94.86</p>
                <p>墨西哥 VS 南非凯利：胜：1.00%，平：0.88%，负：0.63% <br />2、即时赔率：胜：0.93%，平：0.99%，平：0.97%</p>
				            </li>
                    <li>
                <p>赔率公司：立博</p>
                                <p>即时赔率：1、初始赔率：胜：1.48，平：4.20，负：6.50 <br />2、即时赔率：胜：1.44，平：4.40，平：7.50</p>
                <p>概率：1、初始概率：胜：63.28%，平：22.30%，负：14.41% <br />2、即时赔率：胜：65.82%，平：21.54%，平：12.63%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：93.66 即时返还率：94.78</p>
                <p>墨西哥 VS 南非凯利：胜：0.99%，平：0.92%，负：0.74% <br />2、即时赔率：胜：0.96%，平：0.97%，平：0.86%</p>
				            </li>
                    <li>
                <p>赔率公司：伟德</p>
                                <p>即时赔率：1、初始赔率：胜：1.45，平：4.10，负：7.50 <br />2、即时赔率：胜：1.40，平：4.20，平：9.00</p>
                <p>概率：1、初始概率：胜：64.64%，平：22.86%，负：12.49% <br />2、即时赔率：胜：67.16%，平：22.38%，平：10.44%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：93.73 即时返还率：94.02</p>
                <p>墨西哥 VS 南非凯利：胜：0.97%，平：0.90%，负：0.86% <br />2、即时赔率：胜：0.93%，平：0.92%，平：1.03%</p>
				            </li>
                    <li>
                <p>赔率公司：Pinnacle平博</p>
                                <p>即时赔率：1、初始赔率：胜：1.45，平：4.35，负：7.19 <br />2、即时赔率：胜：1.45，平：4.43，平：8.88</p>
                <p>概率：1、初始概率：胜：65.14%，平：21.71%，负：13.13% <br />2、即时赔率：胜：67.08%，平：21.95%，平：10.95%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：94.46 即时返还率：97.27</p>
                <p>墨西哥 VS 南非凯利：胜：0.97%，平：0.95%，负：0.82% <br />2、即时赔率：胜：0.97%，平：0.97%，平：1.01%</p>
				            </li>
                    <li>
                <p>赔率公司：皇冠</p>
                                <p>即时赔率：1、初始赔率：胜：1.51，平：4.05，负：5.80 <br />2、即时赔率：胜：1.43，平：4.40，平：8.70</p>
                <p>概率：1、初始概率：胜：61.23%，平：22.82%，负：15.94% <br />2、即时赔率：胜：67.14%，平：21.82%，平：11.03%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：92.45 即时返还率：96.01</p>
                <p>墨西哥 VS 南非凯利：胜：1.01%，平：0.89%，负：0.66% <br />2、即时赔率：胜：0.95%，平：0.97%，平：0.99%</p>
				            </li>
                    <li>
                <p>赔率公司：易胜博</p>
                                <p>即时赔率：1、初始赔率：胜：1.52，平：4.10，负：5.80 <br />2、即时赔率：胜：1.44，平：4.20，平：8.60</p>
                <p>概率：1、初始概率：胜：61.24%，平：22.70%，负：16.05% <br />2、即时赔率：胜：66.21%，平：22.70%，平：11.08%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：93.09 即时返还率：95.34</p>
                <p>墨西哥 VS 南非凯利：胜：1.01%，平：0.90%，负：0.66% <br />2、即时赔率：胜：0.96%，平：0.92%，平：0.98%</p>
				            </li>
                    <li>
                <p>赔率公司：金宝博</p>
                                <p>即时赔率：1、初始赔率：胜：1.51，平：4.05，负：5.80 <br />2、即时赔率：胜：1.51，平：4.05，平：5.80</p>
                <p>概率：1、初始概率：胜：61.23%，平：22.82%，负：15.94% <br />2、即时赔率：胜：61.23%，平：22.82%，平：15.94%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：92.45 即时返还率：92.45</p>
                <p>墨西哥 VS 南非凯利：胜：1.01%，平：0.89%，负：0.66% <br />2、即时赔率：胜：1.01%，平：0.89%，平：0.66%</p>
				            </li>
                    <li>
                <p>赔率公司：利记</p>
                                <p>即时赔率：1、初始赔率：胜：1.47，平：3.73，负：5.70 <br />2、即时赔率：胜：1.44，平：4.15，平：8.60</p>
                <p>概率：1、初始概率：胜：60.53%，平：23.85%，负：15.61% <br />2、即时赔率：胜：66.03%，平：22.91%，平：11.05%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：88.98 即时返还率：95.08</p>
                <p>墨西哥 VS 南非凯利：胜：0.98%，平：0.82%，负：0.65% <br />2、即时赔率：胜：0.96%，平：0.91%，平：0.98%</p>
				            </li>
                    <li>
                <p>赔率公司：香港马会</p>
                                <p>即时赔率：1、初始赔率：胜：1.38，平：3.85，负：7.35 <br />2、即时赔率：胜：1.33，平：4.00，平：8.50</p>
                <p>概率：1、初始概率：胜：64.67%，平：23.18%，负：12.14% <br />2、即时赔率：胜：67.16%，平：22.33%，平：10.50%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：89.25 即时返还率：89.32</p>
                <p>墨西哥 VS 南非凯利：胜：0.92%，平：0.85%，负：0.84% <br />2、即时赔率：胜：0.89%，平：0.88%，平：0.97%</p>
				            </li>
                    <li>
                <p>赔率公司：10BET</p>
                                <p>即时赔率：1、初始赔率：胜：1.48，平：4.10，负：7.20 <br />2、即时赔率：胜：1.43，平：4.60，平：9.20</p>
                <p>概率：1、初始概率：胜：63.83%，平：23.04%，负：13.12% <br />2、即时赔率：胜：68.19%，平：21.20%，平：10.60%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：94.47 即时返还率：97.52</p>
                <p>墨西哥 VS 南非凯利：胜：0.99%，平：0.90%，负：0.82% <br />2、即时赔率：胜：0.95%，平：1.01%，平：1.05%</p>
				            </li>
                    <li>
                <p>赔率公司：Mansion88 (明升)</p>
                                <p>即时赔率：1、初始赔率：胜：1.42，平：3.95，负：6.40 <br />2、即时赔率：胜：1.43，平：4.25，平：8.80</p>
                <p>概率：1、初始概率：胜：63.23%，平：22.73%，负：14.03% <br />2、即时赔率：胜：66.71%，平：22.44%，平：10.84%</p>
                <p>墨西哥 VS 南非返还率：初始返还率：89.79 即时返还率：95.39</p>
                <p>墨西哥 VS 南非凯利：胜：0.95%，平：0.87%，负：0.73% <br />2、即时赔率：胜：0.95%，平：0.93%，平：1.01%</p>
				            </li>
            </ul>
</div>
<!-- php 渲染结束 -->

<div id="app">
<!-- header 开始 -->

<div class="topheader" id="topheaderBox" data-fid="1279645">
        <div class="header-in w1146"> 
            <a href="/" class="logo">
                <img alt="球球是道" src="https://cache.qiuqiusd.com/user/images/d1/logo.png">
                <h2 class="SEOTEXT">球球是道</h2>
            </a>
            <div id="div_header_login" class="nav-login">
            	            		<a href="https://www.qiuqiushidao.com/home/appdown/">APP下载</a>
            	            	
                
                <i>|</i>
                            		<a href="https://www.qiuqiushidao.com/home/appdown/?t=1">产品介绍</a>
            	            	
                <i>|</i>  
                     <a href="https://bifen.qiuqiushidao.com">足球比分</a>
                <i>|</i>
                <div class="alink userCenter" href="javascript:void(0)">
                <span class="txt1 loginNo toUserCenter">
                            		<a href="https://www.qiuqiushidao.com/home/usercenter/">会员中心</a>
            	 
                </span>
                <span class="txt1 loginYes  toUserCenter hide"><em class="headimg headImg"></em> 
                            		<a href="https://www.qiuqiushidao.com/home/usercenter/"><em class="user-name" id="userName"></em></a>
            	 
                
                </span>
                <!-- 用户信息弹窗开始 -->
                    <div class="alert-user-info alertUserInfo hide">
                        <div class="txt1 buyVipbn vipcol">开通会员，享专属特权></div> 
                        <div class="txt2"> <p class="t1">我的球票: <span class="myMoney">-</span></p><p class="t2"><span class="congzhong-bn congZhiBn">充值</span><span  class="mingxi-bn mingxiBn">明细</span></p> </div>
                        <div class="txt3 hide"><span id="a_loginout">退出</span></div>
                    </div>  
                    <!-- 用户信息弹窗结束 --> 
                </div>
                
            </div>
        </div>
</div>
<!-- header 结束 -->


<div class="top-banner">
	                        		<a href="https://www.qiuqiushidao.com/index.php?c=home&a=appdown"  target="_blank" title="球球是道App下载"></a>
            	    
</div>
 

<!--end topbar-->
<div class="container">
    <div class="w1200 content bgnone">
           <div class="crumbs">
               <template v-cloak>
                    当前的位置： <a href="/index.php?c=home&a=bifen">首页</a> > {{fixtureData.hteamname}} vs {{fixtureData.ateamname}}
               </template>
                
           </div>
           <!--end 面包屑-->
           <div class="top-vs-box"  v-if="fixtureData">
<div class="guanzhu guanzhuBn" :data-isfollow="fixtureData.isfollow?1:2" :class="{'on':fixtureData.isfollow}"></div>
<div class="vsname-box cl" v-cloak>
     <div class="vsname">
             <p class="txt1"><span class="img" ><img v-if="fixtureData && fixtureData.himg" :src="fixtureData.himg"/><em v-else></em></span> </p>
             <p class="txt2">{{fixtureData.hteamname}} <em v-if="fixtureData.hstanding">[{{fixtureData.hstanding}}]</em> </p>
     </div>
     <div class="vsname vs-m">
         <div class="score l" v-if="[1,2,3,4].indexOf(Number(fixtureData.status)) > -1">{{fixtureData.hscore}}</div>
         <div class="score r" v-if="[1,2,3,4].indexOf(Number(fixtureData.status)) > -1">{{fixtureData.ascore}}</div>
         <p class="t1">{{fixtureData.lname}} {{fixtureData.vsdate}}</p>
         <p v-cloak class="t2"  :class="{'hide':fixtureData.status == 0}" id="stateTxt" 
                                :data-fid="fixtureData.fid" 
                                :data-hstime="fixtureData.halfstarttime" 
                                :data-status="fixtureData.status"></p>
         <p v-cloak class="t4" :class="{'hide':fixtureData.status != 0}">vs</p>
         <p v-cloak class="t3" v-if="[2,3,4].indexOf(Number(fixtureData.status)) > -1">半场({{fixtureData.hhalfscore}}:{{fixtureData.ahalfscore}})</p>
     </div>
     <div class="vsname">
             <p class="txt1"><span class="img" ><img v-if="fixtureData &&  fixtureData.aimg" :src="fixtureData.aimg"/><em v-else></em></span></p>
             <p class="txt2">{{fixtureData.ateamname}} <em v-if="fixtureData.astanding">[{{fixtureData.astanding}}]</em> </p>
     </div>
</div>
</div>
<!--fxsocket.js-->
<!--commonfx.css-->
           <!--end top vs box-->         
           <div class="fenxi-nav fenxiNav box-shadow" id="fenxiNav">
               <a class="navitem " href="/index.php?c=home&a=fenxi&fid=1279645" data-id="1">数据分析</a>
<a class="navitem on"  href="/index.php?c=home&a=ouzhi&fid=1279645" data-id="2">欧洲指数</a>
<a class="navitem "  href="/index.php?c=home&a=yapan&fid=1279645" data-id="3">亚洲盘口</a>
<a class="navitem "  href="/index.php?c=home&a=daxiao&fid=1279645" data-id="4">大小指数</a>
<a class="navitem "  href="/index.php?c=home&a=rangqiu&fid=1279645" data-id="5">让球指数</a>
<a class="navitem "  href="/index.php?c=home&a=lengre&fid=1279645" data-id="6">冷热指数</a>
<a class="navitem disable3"  href="javascript:void(0);" data-id="7">数据模型</a>
<a class="icon1 navitem disable3" href="javascript:void(0);" data-id="8">专家解盘</a>   
<a class="icon2 bg2 navitem hide2 " :class="{'nohide':fixtureData.status == 4}" href="/index.php?c=home&a=live&fid=1279645" data-id="9">技术统计</a>
<a class="icon2 navitem hide2 " :class="{'nohide':fixtureData.status && fixtureData.status != 4,'bg3':[1,2,3].indexOf(Number(fixtureData.status)) > -1,'bg1':fixtureData.isvideo == 1 && [1,2,3].indexOf(Number(fixtureData.status)) > -1}" href="/index.php?c=home&a=live&fid=1279645" data-id="10">赛况直播</a>
<!--fxsocket.js-->
<!--commonfx.css-->
           </div>
           <!--end fenxi nav-->
           <div id="allContent">
           <div class="header">
                <div class="w1200 cl">
                    <span class="nav playtype showAutoCid">自定义公司</span>
                    <span class="nav playtype" :class="{'on':showwFirst}" @click="showwFirst = !showwFirst"><em class="icon"></em>显示初盘</span>
                    <span class="nav playtype disable2">欧亚转化</span> <!-- @click="showoTOyFn()"  -->
                    <span class="nav playtype" id="downloadExcel">导出EXCEL</span>  
                </div>
            </div>
            <!--end header-->
            <div class="box-shadow mb20">
            <div class="ouzhi-table-box">
            <table width="100%" cellspacing="0" cellpadding="0" class="ouzhi_table">
                <colgroup>
                    <col width="160">
                    <col width="39">
                    <col width="220">
                    <col width="260">
                    <col width="124">
                    <col width="230">
                    <col width="136">
                    <col width="32">
                </colgroup> 
                <thead>
                    <tr>
                        <td>公司</td>
                        <td>&nbsp;</td>
                        <td>即时欧赔</td>
                        <td>概率</td>
                        <td>返还率</td>
                        <td>凯利</td>
                        <td>查看</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody  v-cloak v-if="ouzhidata.length > 0">
                    <tr  v-for="(item, index) in ouzhidata" :key="item.id"  v-if="item.end.win || item.first.win">
                        <td class="f12">{{item.name}}</td>
                        <td>&nbsp;</td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{item.first.win}}</span>
                                <span class="w50">{{item.first.draw}}</span>
                                <span class="w50">{{item.first.lost}}</span></p>
                            <p>
                                <span class="w50" :class="{'tred':item.end.win>item.first.win,'tgreen':item.end.win<item.first.win}">{{item.end.win}}</span>
                                <span class="w50" :class="{'tred':item.end.draw>item.first.draw,'tgreen':item.end.draw<item.first.draw}">{{item.end.draw}}</span>
                                <span class="w50" :class="{'tred':item.end.lost>item.first.lost,'tgreen':item.end.lost<item.first.lost}">{{item.end.lost}}</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst"><span class="w70">{{item.first.winrate}}%</span> <span class="w70">{{item.first.drawrate}}%</span> <span class="w70">{{item.first.lostrate}}%</span></p>
                            <p><span class="w70">{{item.end.winrate}}%</span> <span class="w70">{{item.end.drawrate}}%</span> <span class="w70">{{item.end.lostrate}}%</span></p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">{{item.first.pay}}%</p>
                            <p>{{item.end.pay}}%</p>
                           
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst"><span class="w50">{{item.first.winkl}}</span> <span class="w50">{{item.first.drawkl}}</span> <span class="w50">{{item.first.lostkl}}</span></p>
                            <p>
                                <span class="w50" :class="{'tred':item.end.winkl>item.first.winkl,'tgreen':item.end.winkl<item.first.winkl}">{{item.end.winkl}}</span>
                                <span class="w50" :class="{'tred':item.end.drawkl>item.first.drawkl,'tgreen':item.end.drawkl<item.first.drawkl}">{{item.end.drawkl}}</span>
                                <span class="w50" :class="{'tred':item.end.lostkl>item.first.lostkl,'tgreen':item.end.lostkl<item.first.lostkl}">{{item.end.lostkl}}</span>
                            </p>
                        </td>
                        <td><p><span class="w50 bn showXiangqingfn" :data-id="item.id" :data-name="item.name">详情</span> <span class="w50 bn" @click="showTongpei(index,item.id)">同赔</span></p></td>
                        <td>&nbsp;</td>
                    </tr>
                    
                </tbody>
                <tbody v-else>
                    <tr>
                        <td colspan='8'>
                            <p class="nodata">暂无数据</p>
                        </td> 
                    </tr>
                </tbody>
            </table>
            </div>
            <!-- end ouzhi-table-box -->
            <div class="ouzhi-tb-ft ouzhiTbFt" :class="{'h192':!showwFirst}" v-if="avgdata.max">
                <div class="fx-table-box fxTableBox">
            <table width="100%" cellspacing="0" cellpadding="0" class="ouzhi_table">
                <colgroup>
                    <col width="160">
                    <col width="39">
                    <col width="220">
                    <col width="260">
                    <col width="124">
                    <col width="230">
                    <col width="136">
                    <col width="32">
                </colgroup> 
                <thead>
                    <tr>
                        <td><span class="nav playtype" :class="{'on':isfloat}" @click="isfloat = !isfloat"><em class="icon"></em>浮动跟随</span></td>
                        <td>&nbsp;</td>
                        <td>即时欧赔</td>
                        <td>返还率</td>
                        <td>即时概率</td>
                        <td>凯利</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                </thead>
                <tbody v-cloak >
                    <tr>
                        <td class="f12">最高值</td>
                        <td>&nbsp;</td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.max.first.win}}</span>
                                <span class="w50">{{avgdata.max.first.draw}}</span>
                                <span class="w50">{{avgdata.max.first.lost}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.max.end.win}}</span>
                                <span class="w50">{{avgdata.max.end.draw}}</span>
                                <span class="w50">{{avgdata.max.end.lost}}</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w70">{{avgdata.max.first.winrate}}%</span>
                                <span class="w70">{{avgdata.max.first.drawrate}}%</span>
                                <span class="w70">{{avgdata.max.first.lostrate}}%</span>
                            </p>
                            <p>
                                <span class="w70">{{avgdata.max.end.winrate}}%</span>
                                <span class="w70">{{avgdata.max.end.drawrate}}%</span>
                                <span class="w70">{{avgdata.max.end.lostrate}}%</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">{{avgdata.max.first.pay}}%</p>
                            <p>{{avgdata.max.end.pay}}%</p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.max.first.winkl}}</span>
                                <span class="w50">{{avgdata.max.first.drawkl}}</span>
                                <span class="w50">{{avgdata.max.first.lostkl}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.max.end.winkl}}</span>
                                <span class="w50">{{avgdata.max.end.drawkl}}</span>
                                <span class="w50">{{avgdata.max.end.lostkl}}</span>
                            </p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f12">最低值</td>
                        <td>&nbsp;</td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.min.first.win}}</span>
                                <span class="w50">{{avgdata.min.first.draw}}</span>
                                <span class="w50">{{avgdata.min.first.lost}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.min.end.win}}</span>
                                <span class="w50">{{avgdata.min.end.draw}}</span>
                                <span class="w50">{{avgdata.min.end.lost}}</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w70">{{avgdata.min.first.winrate}}%</span>
                                <span class="w70">{{avgdata.min.first.drawrate}}%</span>
                                <span class="w70">{{avgdata.min.first.lostrate}}%</span>
                            </p>
                            <p>
                                <span class="w70">{{avgdata.min.end.winrate}}%</span>
                                <span class="w70">{{avgdata.min.end.drawrate}}%</span>
                                <span class="w70">{{avgdata.min.end.lostrate}}%</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">{{avgdata.min.first.pay}}%</p>
                            <p>{{avgdata.min.end.pay}}%</p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.min.first.winkl}}</span>
                                <span class="w50">{{avgdata.min.first.drawkl}}</span>
                                <span class="w50">{{avgdata.min.first.lostkl}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.min.end.winkl}}</span>
                                <span class="w50">{{avgdata.min.end.drawkl}}</span>
                                <span class="w50">{{avgdata.min.end.lostkl}}</span>
                            </p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td class="f12">平均值</td>
                        <td>&nbsp;</td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.avg.first.win}}</span>
                                <span class="w50">{{avgdata.avg.first.draw}}</span>
                                <span class="w50">{{avgdata.avg.first.lost}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.avg.end.win}}</span>
                                <span class="w50">{{avgdata.avg.end.draw}}</span>
                                <span class="w50">{{avgdata.avg.end.lost}}</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w70">{{avgdata.avg.first.winrate}}%</span>
                                <span class="w70">{{avgdata.avg.first.drawrate}}%</span>
                                <span class="w70">{{avgdata.avg.first.lostrate}}%</span>
                            </p>
                            <p>
                                <span class="w70">{{avgdata.avg.end.winrate}}%</span>
                                <span class="w70">{{avgdata.avg.end.drawrate}}%</span>
                                <span class="w70">{{avgdata.avg.end.lostrate}}%</span>
                            </p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">{{avgdata.avg.first.pay}}%</p>
                            <p>{{avgdata.avg.end.pay}}%</p>
                        </td>
                        <td :class="{'lh22':showwFirst}">
                            <p v-if="showwFirst">
                                <span class="w50">{{avgdata.avg.first.winkl}}</span>
                                <span class="w50">{{avgdata.avg.first.drawkl}}</span>
                                <span class="w50">{{avgdata.avg.first.lostkl}}</span>
                            </p>
                            <p>
                                <span class="w50">{{avgdata.avg.end.winkl}}</span>
                                <span class="w50">{{avgdata.avg.end.drawkl}}</span>
                                <span class="w50">{{avgdata.avg.end.lostkl}}</span>
                            </p>
                        </td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                  
                </tbody>
            </table>
            </div>
            </div>
            <!-- end ouzhi-tb-ft -->
            </div>
            <div class="ouzhi-txt-box box-shadow">
                    <p>1、赔率：是把对阵双方球队的实力差别按照一定的计算方式，在比赛开始前开出胜、平、负三种结果猜中后获得的奖金数额，这个奖金数额就叫赔率。赔率能准确和客观地反映对阵双方球队的真实
                    实力差距，当双方实力差距较大时，实力较强的一方获胜后的奖金数额很低。</p>
                    <p>2、即时概率：根据即时欧赔换算出各项的胜、平、负概率，是对各项打出的可能性的度量。计算方法为：返还率除以胜、平、负相应的即时赔率。</p>
                    <p>3、返还率：也称赔付率，即比赛的赔付比例，例如0.96的赔付率含义就是赔率公司某场比赛的受注总量的96%用来支付投注者的奖金，剩下的4%为博彩公司的"水钱"。返还率越高说明投注者得到的
                    实惠更多。计算方法为：（各项赔率的倒数之和）的倒数。 通常各个公司的返还率都是不一样的，返还率转换就是将赔率"按照设定的返还率"进行转换。将多家公司的赔率按统一的返还率来进行比较，
                    有助于发现各家对比赛态度的分歧。</p>
                    <p>4、凯利指数：反映了各项赔率存在的市场赔付风险，即动态市场与事前确立的返还率之间的赔付差异。某项的凯利指数高于返还率，则表明该项的市场风险很大，难以打出；反之则市场风险小，容
                    易打出。计算方法为：用市场平均的胜、平、负概率来乘以某一家公司的赔率，即为该公司各项赔率的凯利指数。</p>
                    <p>5、平均值：即当前排除交易所之外的所有公司的赔率平均数，是所有赔率公司对比赛态度的集合反映。</p>
                    <p>6、历史同赔：同赔即根据某公司的初盘赔率，统计该公司以前相似赔率的比赛结果。</p>
            </div>
           </div>
    </div>
    <!--end content--> 
</div>
<!--end container--> 
<!--自定义公司弹窗开始-->
<div class="bf-alert-bg"  v-cloak :class="{'hide':!setcidalert}"></div>
<div class="bf-alert left50 auto-alert" v-cloak  :class="{'hide':!setcidalert}">
    <div class="hbox">自定义公司</div>
    <div class="cbox">
        <div class="auto-title cl">
            <div class="at-box borr">点击添加赔率公司
                <div class="topbar-seach search-pl">
                    <div class="input-box"><input type="text" id="autoSearchInput" placeholder="搜索"> <span class="bn"></span></div>
                </div>
            </div>
            <div class="at-box">已选公司</div>
        </div>
        <div class="auto-cnt cl">
            <div class="at-box borr">
                <ul class="auto-list autoList">
                    
                </ul>
            </div>
            <div class="at-box">
                <ul class="auto-list del autoListDle">
                    
                </ul>
            </div>
        </div>
       
    </div>
    <div class="fbox">
        <div class="falertnav cl">
            <div class="fr">
                <span class="span setConfirmBn">确定</span>
                <span class="span setCancelBn">取消</span>
            </div>
        </div>
       
    </div>
</div>
<!--自定义公司弹窗结束-->




<!--欧亚转化弹窗开始-->
<div class="bf-alert-bg"  v-cloak v-if="showoTOy"></div>
<div class="bf-alert left50 oyzh-alert"  v-cloak  v-if="showoTOy" >
    <div class="hbox">欧亚转化</div>
    <div class="cbox">
    <table width="100%" cellspacing="0" cellpadding="0" class="ouzhi_table">
                <colgroup>
                    <col width="100">
                    <col width="140">
                    <col width="70">
                    <col width="200">
                    <col width="200">
                   
                </colgroup> 
                <thead>
                    <tr>
                        <td>公司名</td>
                        <td>欧指</td>
                        <td>返还率</td>
                        <td>转化后亚盘</td>
                        <td>实际最新盘</td>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="f12">最高值</td>
                        <td>
                            <p><span class="w50 tred">2.50</span> <span class="w50 tgreen">3.20</span> <span class="w50">2.80</span></p>
                        </td>
                        <td>
                            <p>25.36%</p>
                        </td>
                        <td>
                            <p><span class="w50">22.50</span> <span class="w70">受平/半</span> <span class="w50">25.80</span></p>
                        </td>
                        
                        <td>
                            <p><span class="w50">2.250</span> <span class="w70">受平/半</span> <span class="w50">2.280</span></p>
                        </td>
                       
                    </tr>
                   
                </tbody>
            </table>



    </div>
    <div class="fbox">
        <div class="falertnav cl">
            <div class="fr">
               
                <span class="span"  @click="showoTOy = false">关闭</span>
            </div>
        </div>
       
    </div>
</div>
<!--自欧亚转化结束-->




<!--欧赔变化详情 - 澳门弹窗开始-->
<div class="bf-alert-bg"  v-cloak  :class="{'hide':!showXiangqing}"></div>
<div class="bf-alert left50  oyzh-alert"  v-cloak  :class="{'hide':!showXiangqing}" >
    <div class="hbox XiangqingTitle">-</div>
    <div class="cbox">
    <table width="100%" cellspacing="0" cellpadding="0" class="ouzhi_table">
                <colgroup>
                    <col width="140">
                    <col width="65">
                    <col width="160">
                    
                    <col width="70">
                    <col width="200">
                   
                </colgroup> 
                <thead>
                    <tr>
                        <td>时间</td>
                        <td>比分</td>
                        <td>欧赔变化</td>
                        <td>返还率</td>
                        <td>凯利</td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in cidedaildata" :key="index">
                        <td class="f12">{{item.time}}</td>
                        <td>
                            <p>-</p>
                        </td>
                        <td>
                            <p>
                                <span class="w50">{{item.win}}</span>
                                <span class="w50">{{item.draw}}</span>
                                <span class="w50">{{item.lost}}</span>
                            </p>
                        </td>
                        <td>
                            <p>{{item.pay}}%</p>
                        </td>
                        <td>
                            <p>
                                <span class="w50">{{item.kwin}}</span>
                                <span class="w50">{{item.kdraw}}</span>
                                <span class="w50">{{item.klost}}</span>
                            </p>
                        </td>
                    </tr>
                   
                </tbody>
            </table>



    </div>
    <div class="fbox">
        <div class="falertnav cl">
            <div class="fr">
               
                <span class="span XiangqingClose">关闭</span>
            </div>
        </div>
       
    </div>
</div>
<!--欧赔变化详情 - 澳门结束-->

</div>
<!--end app-->
<div class="fotter">
        <p>深圳市彩娱互动科技有限公司 版权所有   粤ICP备15048108号  |  粤网文[2017]3682-714号  |  增值电信业务经营许可证:粤B2-20160268  |  粤公网安备44030702000074号</p>
</div>
<script>
    var menu = 'ouzhi';    
</script>
<!--common.css-->
<div class="ui-loading-block-bg" id="uiLoadingBlockBg"></div>
<!--loading 弹窗开始-->
<div class="ui-loading-block" id="uiLoadingBlock">
    <p class="ui-loading-txt1"><i></i></p> 
    <p class="ui-loading-txt2">请稍后...</p>
</div>
<!--loading 弹窗结束-->

<div class="to-top toTop">
        <span class="item bg2"> <p>球球<br />APP</p><div class="code-box"><img src="https://cache.qiuqiusd.com/user/images/d1/code.jpg?v=20170605" alt=""></div> </span>
    <span class="item bg1"></span>
</div>
<div class="left-download leftDownload">
    		<a href="https://www.qiuqiushidao.com/"  target="_blank" title="球球是道App下载"></a>
	   
    <span class="downloadclose"></span> 
</div>

<!-- <script src="https://g.alicdn.com/AWSC/AWSC/awsc.js"></script> -->
<div class="bf-alert-bg hide" id="div_mask"></div>

<!--登录弹窗开始==================================================-->
<div id="div_login_show" class="alert-box pb10 hide alert-box3">
    <div class="close closeAllBn" title="关闭"></div>
    <!-- 登录开始 -->
    <div class="loginBox">
        <div class="alert-head alertHeadTab"><span class="login-t on loginBn">登录</span> </div>
        <div class="alert-middle-box loginCt">
            <div class="u-box u-box03">
                <input id="input_mobile" class="input_box deft" type="text"   placeholder="请输入手机号">
            </div>
            <div class="u-box u-box03">
                <input id="input_passwd" class="input_box deft" type="password"  placeholder="请输入密码" />
            </div>
            <div class="u-box u-box03">
                <input id="getCode22" class="input_box get-code" type="tel"  placeholder="请输入验证码" />
                <div class="get-code-bn ressetCodeBn" data-type="22" style="background:none" ><img src="/index.php?c=user&a=verifycode" /></div>
            </div>
            <!-- <div id="sc" style="margin-top:20px;margin-bottom:20px;margin-left:0px"></div> -->
            <div class="erro div_login_error hidden">您的手机或密码输入有误</div>
            <p class="t2 pb20"><span id="span_login_button" class="c-bn cbn2">立即登录</span></p>
            <p class="loginft">
                <span class="txtl gotoRegister">新用户注册</span>
                <!-- <span class="txtr gotoPassword">忘记密码？</span> -->
            </p>
        </div>
    </div>
    <!-- 登录结束 -->
    <!-- 注册开始 -->
    <div class="registerBox hide">
        <div class="alert-head alertHeadTab"><span class="login-t on loginBn">注册</span> </div>
        <div class="alert-middle-box loginCt">
            <div class="u-box u-box03">
                <input id="input_mobile2" class="input_box" type="text" placeholder="请输入手机号">
            </div>
            <div class="u-box u-box03">
                <span class="visible-pass visiblePass on" data-type="2"></span>
                <input id="input_passwd2" class="input_box" type="password"  placeholder="请输入密码" />
            </div>
            <div class="u-box u-box03">
                <input id="getCode2" class="input_box get-code" type="tel"  placeholder="请输入验证码" />
                <div class="get-code-bn getCodeBn" data-type="2">获取验证码</div>
            </div>
            <div class="erro div_login_error hidden">您的手机或密码输入有误</div>
            <p class="t2 pb20"><span id="registerBoxBn" data-type="2"  class="c-bn cbn2">立即注册</span></p>
            <p class="loginft">
                <span class="txtl backToLogin">已有账号登录</span>
            </p>
        </div>
    </div>
    <!-- 注册结束 -->
    <!-- 找回密码开始 -->
    <div class="passwordBox hide">
        <div class="alert-head alertHeadTab"><span class="login-t on loginBn">找回密码</span> </div>
        <div class="alert-middle-box loginCt">
            <div class="u-box u-box03">
                <input id="input_mobile3" class="input_box" type="text" placeholder="请输入手机号">
            </div>
            <div class="u-box u-box03">
            <span class="visible-pass visiblePass on" data-type="3"></span>
                <input id="input_passwd3" class="input_box" type="password"  placeholder="请输入新密码" />
            </div>
            <div class="u-box u-box03">
                <input id="getCode3" class="input_box get-code" type="tel"  placeholder="请输入验证码" />
                <div class="get-code-bn getCodeBn" data-type="3">获取验证码</div>
            </div>
            <div class="erro div_login_error hidden">您的手机或密码输入有误</div>
            <p class="t2 pb20"><span id="passwordBoxBn" data-type="3" class="c-bn cbn2">确定修改</span></p>
            <p class="loginft">
                <span class="txtl backToLogin">已有账号登录</span>
            </p>
        </div>
    </div>
    <!-- 找回密码结束 -->
    <!-- 注册,找回密码成功开始 -->
    <div class="login-ok-box loginOkBox hide">
        <div class="alert-middle-box loginCt">
            <p class="txt1"> <span></span> </p>
            <p class="txt2 resuleTxt"></p>
            <p class="txt3">已登录</p>
            <p class="t2 pb20"><span id="loginokBn" class="c-bn cbn2">确定</span></p>
            
        </div>
    </div>
    <!-- 注册,找回密码成功结束 -->

</div>
<!--登录弹窗结束--> 



<!--会员购买弹窗开始==================================================-->
<div id="div_vip_buy" class="alert-box alertBox hide">
    <div class="close closeAllBn" title="关闭"></div>
    <div class="alert-head alertHeadTab">
        <span class="login-t on loginBn">购买会员</span>
        <p class="ahtxt1 hide ahtxtBox">已开通会员（<span class="yxDate">-</span>）</p>
    </div>
    <div class="alert-middle-box prl20">
        <ul class="product-list productList borm8"></ul>
        <!--<p class="t2 pb20 tc pt40"><span id="span_login_button" class="c-bn cbnw150">立即开通</span></p>-->
    </div>
</div>
<!--会员购买弹窗结束--> 



<!-- 支付弹窗开始 -->
<div class="alert-box alertBox hide pay-type-elert" id="payTypeAlert">
    <div class="close closeAllBn" title="关闭"></div>
    <div class="alert-head alertHeadTab"><span class="login-t loginBn c444">支付金额</span></div>
    <div class="alert-middle-box prl20">
   <div class="txt2"><span><em>￥</em><i class="moneyC">-</i></span></div>
   <div class="menu-list menuList">
    <ul class="payListAlert">
     <li class="border-b">
      <div class="ui-list-info"><span class="my-jiatou"></span> <span class="my-icon qp"></span><h4 class="ui-nowrap">球票支付</h4><div class="ui-txt-info">球票余额：<span class="myQiupiao">-</span>张</div></div>
    </li>
    <li class="border-b">
      <div class="ui-list-info"><span class="my-jiatou"></span><span class="my-icon wx"></span><h4 class="ui-nowrap">微信扫码支付</h4><div class="ui-txt-info"> </div></div>
    </li>
    </ul>
   </div>
   </div>

   <div id="div_QR2" class="codebox">
    <p class="txt1"><img class="vipwxCode" src="" width="160" style="width: 160px;"></p>
    <p class="ctxt1">请打开微信扫码支付</p>
</div>

  </div>
<!-- 支付弹窗结束 -->





<!--充值弹窗开始--> 
<div id="div_recharge" class="alert-box alert-box3 hide">
    <div class="close closeAllBn" title="关闭"></div>
    <div class="backcz backBn hide" title="返回">返回</div>
    <div class="alert-head alertHeadTab"><span class="login-t cztitle">球票充值</span></div>
    <!--支付选项开始-->
    <p style="text-align: left;color: #fa612d;margin: 0 auto 10px;width: 320px;">充值球票后，仅可用于解锁付费贴或购买会员服务。</p>
    <div class="alert-middle-box chongzhi">
        <p class="txt1">充值数量:</p>
        <p class="txt2" id="p_ticket_list"><span class="on" data-id="1" data-desc="12张球票">12张</span><span data-id="2" data-desc="30张球票">30张</span><span data-id="3" data-desc="68张球票">68张</span><br /><span data-id="4" data-desc="128张球票">128张</span><span data-id="5" data-desc="268张球票">268张</span><span data-id="6" data-desc="648张球票">648张</span></p>
        <p class="txt1">支付金额:</p>
        <p class="txt3"><span id="span_need_pay" data-pay="1">12</span>元</p>
        <p class="txt1">支付方式:</p>
        <p class="txt4"><span class="wxBn" id="span_weixin_pay">微信支付</span><span class="wxBn" id="span_zfb_pay" style="background: #1890ff;margin-left: 20px;">支付宝支付</span></p>
    </div>
    <!--支付选项结束-->
    <!--二维码开始-->
    <div id="div_QR" class="codebox hide">
        <p class="txt1"><img src="" width="160"></p>
        <p class="txt2">请打开微信扫码支付</p>
        <p class="txt3">支付金额<span data-pay="1">12</span>元</p>

    </div>
    <!--二维码结束-->
    <!--支付成功开始-->
    <div class="payend hide">
        <p class="txt1"><span class="payok"></span><span class="payerro hide"></span></p>
        <p class="txt2">支付完成</p>
        <p class="txt3"><span id="span_pay_sucess">确定</span></p>
    </div>
    <!--支付成功结束-->
</div>
<!--充值弹窗结束--> 

<script>
    // 实例化ic对象
    var AWSCappkey='FFFF0N00000000009A17',
        AWSCscene='nvc_login_h5',
        AWSCsessionId = "",
        AWSCsig = "",
        AWSCtoken = "",
        AWSCfailCode = ""; //如果==1，有异常，==2 验证成功了 为空表示还没点击验证
    
    //     AWSC.use("ic", function (state, module) {
    //     // 初始化
    //     window.ic = module.init({
    //         width:316,
    //         // 应用类型标识。它和使用场景标识（scene字段）一起决定了智能验证的业务场景与后端对应使用的策略模型。您可以在阿里云验证码控制台的配置管理页签找到对应的appkey字段值，请务必正确填写。
    //         appkey: AWSCappkey,
    //         // 使用场景标识。它和应用类型标识（appkey字段）一起决定了智能验证的业务场景与后端对应使用的策略模型。您可以在阿里云验证码控制台的配置管理页签找到对应的scene值，请务必正确填写。
    //         scene: AWSCscene,
    //         // 声明智能验证需要渲染的目标元素ID。
    //         renderTo: 'sc',
    //         // 验证通过时会触发该回调参数。您可以在该回调参数中将会话ID（sessionId）、签名串（sig）、请求唯一标识（token）字段记录下来，随业务请求一同发送至您的服务端调用验签。
    //         success: function (data) {
    //             window.console && console.log(data.sessionId)
    //             window.console && console.log(data.sig)
    //             window.console && console.log(data.token)
    //             AWSCfailCode = 2
    //             AWSCsessionId = data.sessionId
    //             AWSCsig = data.sig
    //             AWSCtoken = data.token
    //         },
    //         // 验证失败时触发该回调参数
    //         fail: function (failCode) {
    //             console.log(failCode)
    //             AWSCfailCode = 1
    //         },
    //         // 验证码加载异常时触发该回调参数
    //         error: function (errorCode) {
    //             console.log(errorCode)
    //             AWSCfailCode = 1
    //         }
    //     });
    // })
    
   
</script>
<!--common.js,login.js alert.min.js-->
<!--common.css-->
<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/alert.min.js?v=2025102702"></script>

<script type="text/javascript" src="https://cache.qiuqiusd.com/public/js/jquery-1.7.min.js"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/public/js/vue.min.js"></script>

<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/common.js?v=2025102702"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/login.js?v=2022061001"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/public/js/socket.io-1.7.4.js"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/plouzhi.js?v=2025102702"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/fxsocket.js?v=2025102702"></script>
<script type="text/javascript" src="https://cache.qiuqiusd.com/bifen/js/commonPL.js?v=2025102702"></script>

<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "//hm.baidu.com/hm.js?1cc6125513403f855d2a2484ef79b3b3";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>


</body>
</html>